doctype html
html
  head
    meta(charset="UTF-8")
    title binb password recovery
  body(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;")
    div(style="width:600px;margin:0 auto;border:3px solid #CCC;border-radius:5px;background-color:#F0F0F0;")
      div(style="padding:16px 16px 0;font-size:15px;color:#505050;")
        img(alt="logo",src="https://binb.co/static/img/binb-logo.png")
        h2 Password recovery
        p To initiate the password reset process for your binb account,
          | click the link below:
        a(style="color:#0088CC;text-decoration:none;",
          href=`https://binb.co/resetpasswd?token=${token}`)
          | https://binb.co/resetpasswd?token=#{token}
        p If you can't click it, please copy and paste the URL in a new tab/window.
        p If you haven't requested a password reset, you can disregard this message, 
          | because it's  likely that another user entered your email address 
          | by mistake while trying to reset a password.
        p.note(style="font-size:13px;")
          b Note:
          |  This email cannot accept replies.
