footer
    #footer-inner
        #copy &copy; 2012 Luigi Pinca
        iframe#facebook-button(allowTransparency="true", frameborder="0",
            scrolling="no", src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fbinb.nodejitsu.com&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;locale=en_US")
        iframe#twitter-button(allowtransparency="true", frameborder="0",
            scrolling="no", src="//platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2Fbinb.nodejitsu.com")
        iframe#github-button(allowtransparency="true", frameborder="0", scrolling="0", 
            src="http://ghbtns.com/github-btn.html?user=lpinca&repo=binb&type=watch&count=true")
        span.footer-info . Optimized for Google Chrome.
        a#nodejitsu-logo(target="_blank", href="http://nodejitsu.com/")
        span.footer-info Powered by 
