footer
	#footer-inner
		#copy &copy; 2012 Luigi Pinca
		.fb-like(data-href="http://binb.nodejitsu.com", data-layout="button_count",
			data-send="false", data-show-faces="false")
		iframe#twitter-button(allowtransparency="true", frameborder="0",
			scrolling="no", src="//platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2Fbinb.nodejitsu.com")
		iframe#github-button(allowtransparency="true", frameborder="0", scrolling="0", 
			src="http://markdotto.github.com/github-buttons/github-btn.html?user=lpinca&repo=binb&type=watch&count=true")
		#footer-right Made with 
			a(target="_blank", href="http://nodejs.org/") node.js
			| , 
			a(target="_blank", href="http://socket.io/") socket.io
			| ,
			a(target="_blank", href="http://redis.io/") redis.io
			| ,
			a(target="_blank", href="http://nodejitsu.com/") nodejitsu
			| . Optimized for Google Chrome.
