body {
	background: url('/static/images/bg.jpg') repeat-x scroll 0 0 #F5F6F7;
}
section {
	margin-top:30px;
}
.page-header {
	padding: 0;
	margin: 0 0 17px 0;
	border-bottom:1px solid #ddd;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}
.page-header h1 {
	margin-bottom:8px;
	line-height: 36px;
}
.page-header h1 small {
	line-height: 1;
	color: #BFBFBF;
}
input {
	margin-bottom: 0;
}
.modal-footer {
	text-align: left;
}
#join {
	float: right;
}
.thumbnails {
	margin-bottom: 0px;
}
.thumbnails > li {
	margin: 0 0 18px 80px;
}
.thumbnail {
	border: 1px solid #ccc;
	height: 140px;
	opacity: 0.7;
}
.thumbnail:hover {
	opacity: 1;
}
.thumbnail img {
	float: left;
	width: 70px;
	height: 70px;
}
.room {
	height: 25px;
	line-height: 25px;
	position: absolute;
	top: 61px;
	background-color: rgba(51,51,51, 0.7);
	color: white;
	font-weight: bold;
	font-size: 14px;
	width: 210px;
	text-align: center;
	text-transform: capitalize;
}
.btn-group {
	float: right;
	margin: 21px 10px 0 0;
}
.dropdown-menu {
	min-width: 140px;
}
.dropdown-menu a {
	padding: 2px 10px;
}
.dropdown-menu .divider {
	margin: 4px 1px;
}
.matched {
	color: #f3a22f;
}
.gameover {
	padding-left:32px;
	height:32px;
	line-height:32px;
}
.gameover .name {
	font-weight:bold;
}
.relative {
	position: relative;
}
#app-name {
	display: inline-block;
}
#total-tracks {
	float:right;
	color: #BFBFBF;
	margin-top:22px;
}
#cassette {
	margin-top:17px;
	height: 137px;
	background: url('/static/images/cassette.png') no-repeat 0 0;
}
#countdown {
	position: absolute;
	width: 26px;
	text-align:center;
	top:80px;
	left:175px;
}
#wheel-left, #wheel-right {
	position:absolute;
	width: 24px;
	height:24px;
	top: 49px;
	background: url('/static/images/wheel.png') no-repeat 0 0;
}
#wheel-left {
	left:51px;
}
#wheel-right {
	left:145px;
}
#tape-left, #tape-right {
	height:70px;
	width:70px;
	position:absolute;
	top:25px;
	background-color: black;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	z-index:-1;
}
#tape-left {
	left: 20px;
}
#tape-right {
	left: 106px;
}
#progress-bar, #progress {
	height:7px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: inset 0px 1px 2px 0px #333;
 	-moz-box-shadow: inset 0px 1px 2px 0px #333;
	box-shadow: inset 0px 1px 2px 0px #333;
}
#progress-bar {
	position:absolute;
	width: 148px;
	top:85px;
	left:20px;
	border:1px solid #404040;
	border:1px solid rgba(0, 0, 0, 0.5);
}
#progress {
	background-color: #6184b7;
	width:0px;
}
#touch-backdrop {
	width:220px;
	height:137px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:rgba(50,50,50,0.8);
}
#touch-play {
	margin-top: 54px;
	margin-left: 77px;
}
#volume {
	height:154px;
}
#volume-button, #volume-slider, #volume-total, #volume-current, #volume-handle {
	position: absolute;
}
#volume-button {
	bottom: 0;
	height: 20px;
	width: 20px;
}
#volume-button .button {
	display:block;
	height: 18px;
	width: 18px;
	border:1px solid;
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffffff,EndColorStr=#ffe0e0e0);
	background-image:-moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image:-ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image:-o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e0e0e0));
	background-image:-webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background-image:linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}
#volume-button .button:hover {
	border-color:#999999;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
#volume-button .button:active {
	border-color:#999999 #AAAAAA #CCCCCC;
	-webkit-box-shadow: 0px 1px 2px 0px #aaa inset;
	-moz-box-shadow: 0px 1px 2px 0px #aaa inset;
	box-shadow: 0px 1px 2px 0px #aaa inset;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#e6e6e6,EndColorStr=#dcdcdc);
	background-image:-moz-linear-gradient(top,#e6e6e6 0,#dcdcdc 100%);
	background-image:-ms-linear-gradient(top,#e6e6e6 0,#dcdcdc 100%);
	background-image:-o-linear-gradient(top,#e6e6e6 0,#dcdcdc 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e6e6e6),color-stop(100%,#dcdcdc));
	background-image:-webkit-linear-gradient(top,#e6e6e6 0,#dcdcdc 100%);
	background-image:linear-gradient(to bottom,#e6e6e6 0,#dcdcdc 100%);
}
#volume-button .button #icon {
	margin: 1px;
	width: 16px;
	height: 16px;
}
#volume-button .button .volume-none {
	background: url('/static/images/sprites.png') no-repeat 0 -112px;
}
#volume-button .button .volume-low {
	background: url('/static/images/sprites.png') no-repeat -16px -112px;
}
#volume-button .button .volume-medium {
	background: url('/static/images/sprites.png') no-repeat -32px -112px;
}
#volume-button .button .volume-high {
	background: url('/static/images/sprites.png') no-repeat -48px -112px;
}
#volume-slider {
	display: none;
	height: 116px;
	width: 20px;
	top: -116px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background: rgba(50, 50, 50, 0.1);
	z-index: 1;
}
#volume-total, #volume-current {
	left: 8px;
	top: 8px;
	width: 4px;
	height: 100px;
}
#volume-total, #volume-current, #volume-handle {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#volume-total {
	-webkit-box-shadow: inset 0px 0px 3px 0px #333;
	-moz-box-shadow: inset 0px 0px 3px 0px #333;
	box-shadow: inset 0px 0px 3px 0px #333;
}
#volume-current {
	-webkit-box-shadow: inset 0px 0px 1px 0px #000;
	-moz-box-shadow: inset 0px 0px 1px 0px #000;
	box-shadow: inset 0px 0px 1px 0px #000;
	background-color: #6184b7;
}
#volume-handle {
	left: 1px;
	width: 16px;
	height: 4px;
	background: #ddd;
	background: rgba(255, 255, 255, 0.9);
	cursor: N-resize;
	border:1px solid #999;
}
#summary {
	text-align: center;
	margin-bottom:18px;
}
#users {
	margin-bottom: 90px;
	max-height: 380px;
	overflow: auto;
}
#users .name, #tracks .artist {
	font-weight: bold;
}
#message-wrapper {
	text-align: right;
}
#users li, #tracks li, #chat li {
	color: #404040;
}
#users .private {
	display: none;
}
#users .private, #users .name, .gameover .name {
	margin-right: 4px;
}
#users .label {
	font-size:9.75px;
	padding: 2px 4px;
	line-height: 18px;
	vertical-align: top;
}
#users .name {
	cursor: pointer;
}
#users .you {
	cursor: auto;
}
#users .points, #users .round-points {
	margin-right: 10px;
}
.round-rank {
	height:16px;
	width:16px;
	margin-right:2px;
}
.stand1 {
	background: url('/static/images/sprites.png') no-repeat 0 0;
}
.stand2 {
	background: url('/static/images/sprites.png') no-repeat -16px 0;
}
.stand3 {
	background: url('/static/images/sprites.png') no-repeat -32px 0;
}
#users .round-rank {
	display:inline-block;
	vertical-align: middle;
}
#users .guess-time {
	font-size: 11px;
}
#toggle-chat {
	position: absolute;
	top: -17px;
	left: 805px;
	color: #BFBFBF;
	height: 16px;
	line-height: 16px;
	font-size: 11px;
	border: 1px solid #DDDDDD;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	padding: 0 10px;
	text-decoration: none;
}
#toggle-chat:hover {
	border-color: #CCCCCC;
	background-color: #f5f5f5;
	color: #333333;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}
#toggle-chat:active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	outline: 0;
}
#chat-wrapper {
	margin-bottom: 4px;
	height: 160px;
	background-color: white;
}
#chat-top, #chat-bottom {
	background-color: white;
	position: absolute;
	left: 6px;
	height: 4px;
	width: 430px;
	z-index: 1;
}
#chat-bottom {
	bottom: 0;
}
#chat {
	position:absolute;
	height: 152px;
	width: 446px;
	padding: 4px 6px;
	overflow: auto;
	margin: 0;
}
.bordered {
	border: 1px solid #ccc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
#chat .join, #chat .left {
	font-style: italic;
}
#chat .private {
	color: #a65fc3;
}
#feedback {
	text-align: center;
}
#feedback .correct, #users .correct{
	color: #46A546;
}
#feedback .wrong, #chat .error {
	color: #C43C35;
}
#guess.correct {
	border-color: #46A546;
}
#guess.correct:focus {
	-webkit-box-shadow: 0 0 6px #7aba7b;
	-moz-box-shadow: 0 0 6px #7aba7b;
	box-shadow: 0 0 6px #7aba7b;
}
#guess.wrong {
	border-color: #C43C35;
}
#guess.wrong:focus {
	-webkit-box-shadow: 0 0 6px #d59392;
	-moz-box-shadow: 0 0 6px #d59392;
	box-shadow: 0 0 6px #d59392;
}
#tracks {
	margin: 18px 0;
	max-height: 240px;
	overflow: auto;
}
#tracks li {
	margin: 0 2px 2px 0;
	padding: 8px;
	min-height: 40px;
	background: -moz-linear-gradient(center top , #FBFBFB, #F5F5F5);
	background: -webkit-linear-gradient(center top , #FBFBFB, #F5F5F5);
	background: -o-linear-gradient(center top , #FBFBFB, #F5F5F5);
	background: -ms-linear-gradient(center top , #FBFBFB, #F5F5F5);
	background: linear-gradient(center top , #FBFBFB, #F5F5F5);
}
#tracks img.artwork, #tracks .info, #tracks .round-rank, #tracks .round-points, #copy, #facebook-button, #twitter-button, #github-button {
	float:left;
}
#tracks img.artwork {
	width: 40px;
	height: 40px;
	margin-right:10px;
}
#tracks .info {
	margin-right:15px;
}
#tracks .artist {
	margin-top: 1px;
	font-size: 14px;
}
#tracks .round-rank {
	margin-top:12px;
}
#tracks .round-points {
	margin-top: 11px;
}
#tracks a {
	float:right;
	display:block;
	width:24px;
	height:24px;
	margin-top:8px;
}
#disclaimer {
	position: absolute;
	left: 60px;
	bottom: 18px;
	color: #BFBFBF;
	width:340px;
}
footer {
	padding: 0;
	margin-top: 17px;
	border-top:1px solid #DDDDDD;
	color: #BFBFBF;
	text-shadow: 0 1px 0 #FFFFFF;
}
#footer-inner, #twitter-button, #github-button {
	height:20px;
}
#footer-inner {
	border-top:1px solid white;
	padding-top:5px;
	margin-bottom:30px;
}
#copy {
	margin: 0 20px 0 20px;
}
#facebook-button {
	width:90px;
	height:21px
}
#twitter-button, #github-button {
	width:100px;
}
#copy, #footer-right {
	line-height:20px;
}
#footer-right {
	float:right;
	margin-right:20px;
}
